<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">The Web's Secrets!</h1>

    <div class="buttons">
      <a class="btn btn-dark btn-lg" href="/submit" role="button" style="display:<%=loggedIn%>">Submit your Secret</a>
      <a class="btn btn-light btn-lg" href="/logout" role="button" style="display:<%=loggedIn%>">Log Out</a>

      <h4 style="display:<%=loggedOut%>"><a class="btn btn-dark btn-lg" href="/login" role="button" style="display:<%=loggedOut%>">Login</a> or <a class="btn btn-dark btn-lg" href="/register" role="button" style="display:<%=loggedOut%>">Register</a> to submit a Secret!</h4>
    </div>

    <div class="secrets">
      <% UsersWithSecrets.forEach(function(user){ %>
        <p class="secret-text"><%=user.secret%></p>
      <% })%>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
